body {
	background-color: #222;
	color:#ddd;
}
.list-group-item {
	background-color: #fff;
	border-color: #555;
	color:#222;
}
.inventory {
	width:400px;
	margin:20px auto;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}